table{
    border-collapse:collapse;
    border: 1px solid rgb(216, 209, 209);
    text-transform: capitalize;
}
tr:nth-child(odd)
{
    background-color: rgb(214, 214, 207);
}
tr:nth-child(even)
{
    background-color:whitesmoke;
}
th
{
    text-transform: uppercase;
}
#bprogress
{
    background-color: rgb(112, 190, 112);
    border-radius: 50px;
}
#bhold
{
    background-color: rgb(168, 24, 24);
    border-radius: 60px;
    width: 80px;
}
#bopen
{
    background-color: rgb(203, 215, 34);
    border-radius: 50px;
    width: 60px;
}
